*{ margin: 0; padding: 0;
    scroll-behavior: smooth;
}


header{
    width: 100%;
    min-height: 90px;
    text-decoration: none;
    background-color: #ffafcc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
}


.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.navegacion a{
    text-decoration: none;
}
.logo{
    float: left; 
    padding: 5px 20px 0;
}

.logo img{
    height: 80px;
}

.logo img:hover{
    transform: scale(1.1);
}

.navegacion{
    float: right;
    display: flex;
    align-items: center;
    height: 90px;
    z-index: 1000;
    text-decoration: none;
}

.navegacion ul{
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover{
    transform: scale(1.1);
}

.navegacion ul li a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover{
    color: #ffffff;
    transform: scale(1.1);

}

.navegacion ul li:hover .hijos{

    display: block;

}

.navegacion .submenu .hijos{
    display: none;
    background: #ffc8dd;
    position: absolute;
    width: 100%;
}

.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.navegacion .submenu .hijos li a{
    display: block;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 700px){
    .checkbtn{
      display: block;  
    }

    .navegacion ul li:hover .hijos{
        display: none;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        background: #ffc8dd;
        top: 90px;
        left: -110%; 
        transition: all .5s; 
        /*Agregamos el display de grid para poder alinear los elementos de la lista*/
        display: grid;
        grid-template-rows: repeat(4,90px);
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    ul .submenu .hijos:hover{
        margin: 5px 5px;
    }

    li a:hover, li a.activate{
        background: none;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .logo img{
        height: 50px;
    }
    .logo{
        float: left;
        margin-top: 20px;   
    }

}