 *{margin: 0; padding: 0; }

 html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
} /*Codigo importante para eliminar el error del espacio blanco! */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


/*Configuracion del div del titulo*/
.overlay{
    background: url(img/pexels-lukas-616358.jpg);
    font-size: 20px;
    padding: 14px 16px;
    height: 350px;
    background-size: cover;
    background-position: 0;
}

.texto-overlay{
    font-size: 30px;
	width: 100%;
	height: 100%;
	padding: 50px;
    text-align: center;
	color: black;
	text-shadow: 1px 1px 1px #333;
}

.texto-overlay p{
    margin-top: 30px;
}

.cursiva{
    font-style: italic;
}
/*Fin del codigo div-header*/

/* Programacion css para reutilizar en cada boton*/
.seccionBotones{
    position: relative;
}

.redondeo{
    border-radius: 30px;
}

/*FIN de codigo a reutilizar*/

.principal{
    background: url(img/pexels-brigitte-tohm-239581.jpg);
    /*agregamos las 2 lineas de abajo para poder centrar todos los elementos dentro 
    del div*/
    display: grid;
    place-items: center;
    height: 300px;

}
.Principal:hover{ /*BOTON*/
    background-color: #FFB6C1;
    transform: scale(1.1);
    transition: .3s linear;
}


.Principal{
    font-size: 30px;
    display: inline-block;
    background-color: #ff69b4;
    text-decoration: none;
    color: black;
    padding: 20px 20px;
}

/*Programacion css del boton menu*/
.menu{
    display: grid;
    place-items: center;
    background: url(img/pexels-sydney-troxell-708488.jpg);
    background-position: 0;
    height: 300px;
}

.Menu{ /*BOTON*/
    font-size: 30px;
    display: inline-block;
    background-color: beige;
    text-decoration: none;
    color: black;
    padding: 20px 20px;
}

.Menu:hover{
    background: bisque;
    transform: scale(1.1);
    transition: .3s linear;
}
/*Fin de la programacion del boton menu*/

/*Inicio de la programacion del menu contacto*/

.Contacto{
    display: grid;
    place-items: center;
    background: url(img/pexels-negative-space-33999.jpg);
    height: 300px;
    background-position: 60px;
}

.contacto{ /*BOTON*/
    font-size: 30px;
    display: inline-block;
    background-color: red;
    text-decoration: none;
    color: black;
    padding: 20px 20px;
}

.contacto:hover{
    background: #ff1040;
    transform: scale(1.1);
    transition: .3s linear;
}

@media (max-width: 700px){

    .principal .menu .Contacto{
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }

    .texto-overlay{
        font-size: 20px;
        text-align: center;
        padding: 20px;
    }

    .overlay{
        background-position: 0;
        height: 180px;
    }

    .Contacto{
        background-position: 36px;
    }

    .texto-overlay p{
        margin-top: 15px;
    }
}

/*Fin del codigo del div de contacto*/