*{ padding: 0; margin: 0;}
body{
    background: url(img/watercolor.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/*CSS del header*/
.cursiva{
    font-style: italic;
}

.overlay{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #a2d2ff;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    text-shadow: 1px 1px 1px #333;
}
/*Fin del CSS del header*/

.FormatoBloque{
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;
    /*Agregamos las 2 lineas de abajo para poder centrar los elementos dentro de cada 
    bloque*/
    display: grid;
    place-items: center;
}
h2{
    margin-bottom: 20px;
}
/*Inicio del css del bloque de instagram*/
.bloqueInstagram{
    background: #ffc8dd; 
    width: 90%;
    padding: 20px 20px;
    margin: 0 auto;
}
/*Fin del bloque CSS del texto de instagram*/

/*css de los botones*/
.Boton{
   background: #bde0fe; 
   color: #000; 
   text-decoration: none;
   text-align: center;
   padding: 25px 25px;
   border-radius: 20px;
   margin-top: 20px;
   width: 100px;
   display: inline-block;
   margin-top: 5%;
}

.Boton:hover{
    transform: scale(1.1);
    transition: .3s linear;
}
/*fin del css del boton de instagram*/

/*Inicio del css del bloque de email*/

/*Css de los demás bloques*/
.bloqueCorreo{
    margin: 0 auto;
    background: #ffafcc; 
    width: 90%;
    padding: 20px 20px;
}

.bloqueWhatsApp{
    margin: 0 auto;
    background: #a2d2ff;
    width: 90%;
    padding: 20px 20px;
}

@media (max-width: 700px){
    
    .overlay{
        font-size: 25px;
        padding: 40px;
    }

    .FormatoBloque{
        font-size: 18px;
    }

    .Boton{
        padding: 20px 20px;
    }
}