*{ padding: 0; margin: 0;}
body{
    background: url(watercolor.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/*CSS del header*/
.cursiva{
    font-style: italic;
}


.overlay{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #a2d2ff;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    text-shadow: 1px 1px 1px #333;
}
/*Fin del CSS del header*/

/*Inicio del css del bloque de instagram*/
.bloqueInstagram{
    position: relative;
    background: #ffc8dd; 
    width: 800px;
    top: 0;
    left: 25%;
    padding: 20px 20px;
}
.FormatoBloque{
    display: grid;
    place-items: center;
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;
}
/*Fin del bloque CSS del texto de instagram*/


/*css de los botones*/
.Boton{
   background: #bde0fe; 
   color: #000; 
   text-decoration: none;
   padding: 25px 25px;
   border-radius: 20px;
   margin-top: 20px;
}

.Boton:hover{
    transform: scale(1.1);
    transition: .3s linear;
}
/*fin del css del boton de instagram*/

/*Inicio del css del bloque de email*/

.bloqueCorreo{
    position: relative;
    background: #ffafcc; 
    width: 800px;
    top: 0;
    left: 25%;
    padding: 20px 20px;
}

.bloqueWhatsApp{
    position: relative;
    background: #a2d2ff;
    width: 800px;
    top: 0;
    left: 25%;
    padding: 20px 20px;
}