* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: url(../contacto/img/watercolor.png);
}

header {
  position: relative !important;
}

.portada {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2d2ff;
  padding: 50px;
  font-size: 30px;
  margin-bottom: 60px;
}

/*Diseño de la galeria*/

.titulo-galeria {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 50px;
}

.contenedor-galeria {
  /*Alineamos los elementos en medio*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
}

.imagenGaleria {
  width: 350px;
  height: 350px;
  border: double #717171 3px;
  transition: .3 ease;
  margin: 20px;
}

.imagenGaleria:hover {
  border: double black 3px;
  transition: .3 ease;
  opacity: 1;
}

/*Fin del diseño de la galeria*/

/*Diseñe responsive de la pagina*/


@media (max-width: 800px){
  .imagenGaleria{
    margin: 10px;
  }
}

@media(max-width: 430px) {
  
  .titulo-galeria{
    font-size: 25px;
    margin-top: 20px;
  }
  .portada{
    font-size: 15px;
  }

  .imagenGaleria{
    height: 300px;
    width: 300px;
    margin-left: 60px; /*ARREGLAR*/
  }
}